
1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEOS 0x40004
FILETYPE 0x1
{
BLOCK "StringFileInfo"
{
	BLOCK "040904B0"
	{
		VALUE "CompanyName", "Aldin101 (Support added by DanTheMan)"
		VALUE "FileDescription", "Steam Cloud Sync Offline Installer                                                                                    "
		VALUE "FileVersion", "1.0.0"
		VALUE "InternalName", "SteamCloudOffline                                                                                    "
		VALUE "LegalCopyright", "Aldin101"
		VALUE "OriginalFilename", "SteamCloudOfflineInstaller.exe"
		VALUE "ProductName", "Steam Cloud"
		VALUE "ProductVersion", "1.0.0"
	}
}

BLOCK "VarFileInfo"
{
	VALUE "Translation", 0x0409 0x04B0  
}
}

